[submodule "librepo"]
	path = librepo
	url = https://github.com/rpm-software-management/librepo.git
[submodule "libmodulemd"]
	path = libmodulemd
	url = https://github.com/fedora-modularity/libmodulemd.git
