[submodule "pacman"]
	path = pacman
	url = https://git.archlinux.org/pacman.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
	branch = master
[submodule "archlinux-keyring"]
	path = archlinux-keyring
	url = https://git.archlinux.org/archlinux-keyring.git
	branch = master
